.minu {
  position: sticky;
  top: 0;
  height: 10vh;
  padding-right: 100px;
}
.minu1 {
  width: 330px;
  background-color: #fff;
}
.bar {
  position: sticky;
  top: 0;
  height: 10vh;
  &__link {
    display: block;
    padding-bottom: 29px;
  }
}
.icons {
  width: 30px;
  height: 30px;
  opacity: 0.6;
}
.icons1 {
  width: 30px;
  height: 30px;
}
.sub {
  &__text {
    font-size: 18px;
    line-height: 23px;
    color: #000000;
  }
}

@media screen and (max-width: 576px) {
  .minu {
    display: none;
  }
  .bar {
    display: none;
  }
}
