
.cart {
 
}
       ::-webkit-scrollbar {
        width: 4px;
    }
    
     ::-webkit-scrollbar-track {
        background: rgb(11, 8, 8);
    }
    
     ::-webkit-scrollbar-thumb {
        background: rgb(50, 50, 88);
        border-radius: 15px;
    }
    
     ::-webkit-scrollbar-thumb:hover {
        background: rgb(5, 15, 5);
    }
.title {
  font-size: 26px;
  line-height: 33px;
  color: #19202c;
}
.wrapper{
    width: 250px;
}
.rasm{
    border-radius: 14px;
    height: 150px;
    margin: 0;
}
@media screen and (max-width:576px) {
    .wrapper{
    width: 326px;
}
.rasm{
    width: 326px;
    height: 200px;
}
}
